fastapi
uvicorn[standard]
sqlalchemy
pydantic-settings
email-validator
python-jose[cryptography]
bcrypt
pytest
httpx
python-multipart
python-docx
onnxruntime
opencv-python
paddlepaddle==2.6.2
paddleocr==2.9.1
